* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 970px;
    margin: 0 auto;
}

.solid {
    background: teal;
}

.col-1 {
    flex-grow: 1;
}

.col-2 {
    flex-grow: 2;
}

.col-4 {
    flex-grow: 4;
}

.col-6 {
    flex-grow: 6;
}

.row {
    display: flex;
    height: 200px;
    margin-bottom: 30px;
}

.row div {
    margin-right: 30px;
}

.row > div:last-child {
    margin-right: 0;
}