* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    width: 900px;
    height: 900px;
    margin: 20px auto 0;
    grid-gap: 15px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

section div {
    background: teal;
}

.col1 {
    grid-column: span 1;
}

.col2 {
    grid-column: span 2;
}

.col3 {
    grid-column: span 3;
}

.col4 {
    grid-column: span 4;
}

.col6 {
    grid-column: span 6;
}

.row1 {
    grid-row: span 1;
}

.row2 {
    grid-row: span 2;
}

.row3 {
    grid-row: span 3;
}

.row4 {
    grid-row: span 4;
}

.row5 {
    grid-row: span 5;
}

.row6 {
    grid-row: span 6;
}