* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    width: 940px;
    height: 100vh;
    margin: auto;
    grid-gap: 20px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

section div {
    background: teal;
}

.col1 {
    grid-column: span 1;
}

.col2 {
    grid-column: span 2;
}

.col4 {
    grid-column: span 4;
}

.col6 {
    grid-column: span 6;
}

.row1 {
    grid-row: span 1;
}

.row2 {
    grid-row: span 2;
}