main {
    text-align: center;
    margin: 10px;
}

.img:hover {
    border: 2px solid red;
    zoom: 110%;
}

.img {
    align-content: center
}

.h1 {
    color: black;
}

.h1:hover {
    color: teal
}

.section {
    margin-bottom: 5%;
    align-self: 100%
}