* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.solid {
    background: gray;
}

.row {
    display: flex;
    height: 300px;
    margin-bottom: 30px;
}

.row-1 {
    display: flex;
    height: 600px;
    margin-bottom: 30px;
}

.row div {
    margin-right: 30px;
}

.row-1 div {
    margin-right: 30px;
}


.row-1 > div:last-child {
    margin-right: 0;
}

.col-1 {
    flex-grow: 1;
}

.col-2 {
    flex-grow: 2;
}

.col-3 {
    flex-grow: 3;
}

.col-4 {
    flex-grow: 4;
}

.column {
    display: flex;
    flex-direction: column;
}

.column .row {
    margin-right: 0;
}

.column .row-1 {
    margin-right: 0;
}

.column .row:last-child {
    margin-bottom: 0;
}

.multi .row-1:last-child {
    margin-bottom: 0;
}

.customh1 {
    height: 150px;
}

.customh {
    height: 630px;
}